body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
/*  background-color: #D7D9CE; */
    background-color: #ffffff;
}

/* Global */
.container{
  width: 95%;
  margin: auto;
  overflow: hidden;
  padding-left: 50px;
}

ul{
  margin: 0;
  padding: 0;
  float: right;
}

.button_1{
  height: 38px;
  background: #E5E7E9;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;

}

p{
  font-size: 20px;
}

h1{
  font-size: 28px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 22px;
}

/* Header **/
header{
  background: #E5E7E9;
  color: #000000;
  padding-top: 0px;
  min-height: 70px;
  border-bottom: #000000 5px solid;
}
header a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}

header h1{
  font-size: 3.25vw;
  display: grid;
}

header img{
   width: 15%;
   height: 15%;     
   float: right;
   padding: 15px;
   margin-top: -35px;
}

header li{
  float: left;
  display: inline;
  padding: 0 10px 0 5px;
  padding-bottom: 10px;
}


header #branding{
  display: inline;
  font-size: 24px;
  padding: 5px;
  width: 35%;
}



header video{
  min-width: 5%;
  max-width: 7.5%;
  float: left;
  padding-right: 50px;
}

header nav{
  display: inline;
  float: left;
}

header .highlight{
  color: #000000;
  font-weight: bold;
}
header a:hover{
  color: #040404;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
}

/* showcase */
#banner{
  min-height: 300px;
  background:url('../images/Brucite1layerbannersmallest.png') no-repeat 0px -290px;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
}

#banner h1{
  margin-top: 100px;
  font-size:55px;
  margin-bottom: 100px;
  float: center;
}

#banner p{
  font-size:20px
}

/*
#newsletter{
  padding: 10px;
  color:#ffffff;
  background:#828fc2;
  min-height: 50px;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float:right;
  margin-top: 14px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

*/

/* boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}


#boxes .box img{
  width: 40%;
  height: auto;
}

#boxes h3{
  font-size: 32px;
}


/* boxes2 */
#boxes2{
  margin-top: 20px;
}

#boxes2 .box2{
  float: left;
  text-align: center;
  width: 45%;
  padding: 10px;
}


#boxes2 .box2 img{
  width: 25%;
}

#boxes2 h3{
  font-size: 32px;
}
/* Meet the group */

#aboutbanner{
  min-height: 200px;
  background:url('../images/carbonatebanner.png') repeat 0px -55px;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
}

#group h2{
  text-align: center;
  font-size: 30px;
}

#table h4{
  text-align: center;
  font-size: 24px;
}

#table p{
  padding: 20px;
}

#table .contact{
  text-align: center;
}
#table{
 font-family: arial, sans-serif;
 border-collapse: collapse;
 width: 90%;
 margin-left: 5%;
 margin-right: 5%;
 border-top: 5px solid #000000;
 border-bottom: 5px solid #000000;
}

#table td, th {
 border-top: 5px solid #000000;
 text-align: left;
 padding: 8px;
}

#table th{
  text-align: center;
  font-size: 24px;
}

#table tr:nth-child(even) {
 background-color: #ffffff;
}

#table tr:nth-child(odd) {
  background-color: #093cab;
  color: #ffffff;
}

/* Meet the Group profiles Supervisors */
#profilesupervisor{
  margin-top: 20px;
  margin-bottom: 20px;
}

#profilesupervisor .box{
  float: left;
  text-align: center;
  width: 45%;
  padding: 10px;
}

#profilesupervisor .box img{
  width: 200px;
}

#profilesupervisor .box a{
  text-align: center;
}

/* Meet the Group profiles Postgrad*/
#profilepostgrad{
  margin-top: 20px;
  margin-bottom: 20px;
}

#profilepostgrad .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#profilepostgrad .box img{
  width: 200px;
}

/* Meet the Group profiles PhD */
#profilePhD{
  margin-top: 20px;
  margin-bottom: 20px;
}

#profilePhD .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#profilePhD .box img{
  width: 200px;
}
/* sidebar */

aside#sidebar{
  float: right;
  width: 15%;
  margin: 10px;
  border-width: thin;
  border-style: solid;
  border-color: #404040;
  padding: 15px;
  background-color: #eeeeee;
  text-align: center;
}


/* main-col */
article#main-col{
  float: left;
  width: 65%
}

/* Publications */

#pubbanner{
  min-height: 200px;
  background:url('../images/abs1.png') repeat  0px ;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
  background-size: 37.5%;
}

ul#Research li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6
}

h1{
  margin-left: 25px;
}
footer{
  padding: 20px;
  margin-top: 20px;
  color: #000000;
  background-color:#E5E7E9;
  text-align: center;
  border-top: #000000 5px solid;
}

footer p{
  font-size: 28px;
}

#mempubs{
  margin-top: 20px;
  width: 20%;
  display: inline-block;
}

#mempubs .box{
  float: left;
  text-align: center;
  width: 90%;
  padding: 10px;
  display: inline;
}


#mempubs .box img{
  width: 80%;
  height: auto;
  display: inline;
}


table#Publicationstable{
  font-size: 18px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 80%;
}

#Publicationstable tr, th {
 border: 5px solid #000000;
 text-align: left;
 padding: 8px;
 background-color: #093cab;
}


#Publicationstable tr, td {
 border: 0px solid #000000;
 text-align: left;
 padding: 8px;
}

#Publicationstable tr:nth-child(even) {
 background-color: #ffffff;
}

#Publicationstable tr:nth-child(odd) {
  background-color: #828fc2;
  color: #ffffff;
}

#Publicationstable h1{
  font-style: bold;
  font-size: 24px;
  margin-left: 25px;
}

#Publicationstable h2{
  font-style: bold;
  font-size: 20px;
  margin-left: 25px;
}

#Publicationstable h3{
  font-style: italic;
  font-size: 14px;
  margin-left: 25px;
}

#Publicationstable p{
  margin-left: 25px;
}

/*Research */
#Research .container{
  width: 80%;
  background-color: #ffffff;
}



#newsbanner{
  min-height: 200px;
  background:url('../images/Graphene_STO1.png') repeat 0px;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
}

#newsbanner h1{
  font-size:55px;
}

#newsbanner p{
  font-size:20px
}

#interests .container{
  width: 80%;
  background-color: #ffffff;
}

#interests .Thermoelectrics_img{
  float: left;
  width: 35%;
  padding: 5px;
  padding-right: 25px;
}

#interests .Thermoelectrics_text::after{
  content: "";
  clear: both;
  display: table;
}

#interests .Thermoelectrics_text p{
  margin-top: 50px;
  margin-left: -50px;
  margin-right: -50px;

}

#interests .Nuclear_Materials_img{
  float: left;
  width: 35%;
  padding: 5px;
  padding-right: 25px;
}

#interests .Nuclear_Materials_text::after{
  content: "";
  clear: both;
  display: table;
}

#interests .Nuclear_Materials_text p{
  margin-top: 50px;
  margin-left: -50px;
  margin-right: 50px;

}

#interests .Minerals_img{
  float: left;
  width: 35%;
  padding: 5px;
  padding-right: 25px;
}

#interests .Minerals_text::after{
  content: "";
  clear: both;
  display: table;
}

#interests .Minerals_text p{
  margin-top: 50px;
  margin-left: -50px;
  margin-right: 50px;

}

#interests .Ceria_Chemistry_img{
  float: left;
  width: 35%;
  padding: 5px;
  padding-right: 25px;
}

#interests .Ceria_Chemistry::after{
  content: "";
  clear: both;
  display: table;
}

#interests .Ceria_Chemistry_text p{
  margin-top: 50px;
  margin-left: -50px;
  margin-right: 50px;

}


table#researchtable{
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 80%;
}

#researchtable tr, th {
 border: 0px solid #000000;
 text-align: left;
 padding: 8px;
}


#researchtable tr, td {
 border: 0px solid #000000;
 text-align: left;
 padding: 8px;
}

#researchtable tr:nth-child(even) {
 background-color: #ffffff;
}

#researchtable tr:nth-child(odd) {
  background-color: #dfe5c2
}

#researchtable h1{
  font-style: bold;
  font-size: 24px;
  margin-left: 25px;
}

#researchtable h2{
  font-style: bold;
  font-size: 20px;
  margin-left: 25px;
}

#researchtable h3{
  font-style: italic;
  font-size: 14px;
  margin-left: 25px;
}

#researchtable p{
  margin-left: 25px;
}
/* Contact */

#contactbanner{
  min-height: 200px;
  background:url('../images/PuO2111banner.png') repeat 0px -70px;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
}

#contactbanner h1{
  font-size:55px;
}

#contactbanner p{
  font-size:20px
}

#contact .container{
  width: 80%;
  background-color: #ffffff;
}

address#p{
  font-size: 28px;
  text-align: center;
}

address#address{
  font-size: 24px;
  text-align: center;
}



#details{
  display: inline-block;
  float: left;
  padding: 10px;
}



#contactphoto{
  display: inline-block;
  float: right;
  padding: 10px;
  padding-right: 50px;
}

/* Photos */

#photobanner{
  min-height: 200px;
  background:url('../images/photo.png') repeat 0px -240px;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
}

#photobanner h1{
  font-size:55px;
}

#photobanner p{
  font-size:20px
}

#photos .container{
  width: 80%;
  background-color: #ffffff;
}

#photos .leftphoto{
  display: inline-block;
  float: left;
  width: 40%;
}

#photos .leftphoto img{
  width: 80%
}

#photos .leftphoto p{
  width: 90%;
  float: left;
}

#photos .rightphoto{
  display: inline-block;
  float: right;
  width: 40%;
}

#photos .rightphoto img{
  width: 80%
}

#photos .rightphoto p{
  width: 90%;
  float: left;
}

/*Medio Queries */
@media(max-width:768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button, .Question button{
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
  }
}
