body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
/*  background-color: #D7D9CE; */
    background-color: #E5E7E9;
}
header nav{
 display: flex;
 justify-content: center;
 font-size: 18px;
}
.homeconten
{
width: 96%;
height: 100%;
margin: 0 auto;
background-color: #ffffff;
}
.homecontext
{
	text-indent: 20px;
	margin-left: 20px;
	margin-right: 20px;
	color: #000000;
}
.homecontext p
{
text-indent: 0px;
font-size: 18px;
width: 70%;
margin: 0 auto;
color: #000000;
margin-bottom: 10px;
}
.homecontext li
{
text-indent: 0px;
font-size: 18px;
width: 60%;
margin: 0 auto;
color: #000000;
margin-bottom: 10px;
}
.homecontext a:link {
  color: #0000FF;
  text-decoration: none;
}
.homecontext a:visited {
  color: #0000FF;
}
.homecontext a:hover {
  color: #00BFFF;
}
.homecontext a:active {
  color: #0000FF;
}
.homecontext img
{
   margin-top: 10px;
   width: 50%;
   height: 50%;

}
.homecontext h1
{
	text-align: center;
	font-size: 30px;
	color: #000000; 
}
.homecontext h2
{
    border-top: 1px #ECBA11 solid;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	color: #000000;
}
.nav{
  background-color: #333;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
  width:100%;
  margin:0 auto;
  float: left; 
  position: fixed;  
}

.nav a{
  float: left;
  height: 25px;
  margin: auto;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 18px;
}
.on {
  background-color: #00BFFF;
  color: white;
}

.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
  font-size: 18px;
  text-decoration: none;
}


.on {
  background-color: #00BFFF;
  color: white;
}

 .nav a.icon {
  display: none;
}
/* Global */
.container{
  width: 100%;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
  float: right;
}
.button_1{
  height: 38px;
  background: #E5E7E9;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;

}

p{
  font-size: 20px;
}

h1{
  font-size: 28px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 22px;
}

/* Header **/
header{
  background: #E5E7E9;
  color: #000000;
  padding-top: 0px;
  min-height: 70px;
  border-bottom: #000000 5px solid;
  width: 100%;
  position: fixed;
  top: 0;
}
header a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}

header h1{
  font-size: 26px;
  display: grid;
  text-align:center;
  padding-top: 30px;
}

header img{
   width: 8%;
   height: 8%;
   float: right;
   margin-bottom: 10px;
   margin-right: 1.5%;
}

header li{
  float: left;
  display: inline;
  padding: 0 10px 0 5px;
  padding-bottom: 10px;
}


header #branding{
  display: inline;
  font-size: 24px;
  padding: 5px;
  width: 35%;
}



header video{
  min-width: 5%;
  max-width: 7.5%;
  float: left;
  padding-right: 50px;
}

header .highlight{
  color: #000000;
  font-weight: bold;
}


/* showcase */
#banner{
  min-height: 350px;

  background:url('../images/Graphene_STO1.png') repeat 0px;
  text-align: center;
  color: #040404;
  width: 100%;
  margin: 0 auto;
  border-bottom: #000000 5px solid;
}

#banner h1{
  margin-top: 100px;
  font-size:55px;
  margin-bottom: 100px;
  float: center;
}

#banner p{
  font-size:20px
}
.breaker
{

width: 100%;
margin: 0 auto;
background-color: #03c6fc;
color: #fff;
text-align: center;
font-weight: bold;
font-size: 18px; 
border-bottom: 4px solid black;
}
.breaker2
{
margin-top: 10 px;
width: 40%;
background-color: #cce6ff;
color: #000;
text-align: center;
font-weight: bold;
font-size: 16px; 
border-bottom: 2px solid black;
}
/*
#newsletter{
  padding: 10px;
  color:#ffffff;
  background:#828fc2;
  min-height: 50px;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float:right;
  margin-top: 14px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

*/

/* boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}


#boxes .box img{
  width: 40%;
  height: auto;
}

#boxes h3{
  font-size: 32px;
}


/* boxes2 */
#boxes2{
  margin-top: 20px;
}

#boxes2 .box2{
  float: left;
  text-align: center;
  width: 45%;
  padding: 10px;
}


#boxes2 .box2 img{
  width: 25%;
}

#boxes2 h3{
  font-size: 32px;
}
/* Meet the group */


#aboutbanner{
  min-height: 350px;
  background:url('../images/carbonatebanner.png') repeat 0px -55px;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
  width: 96%; 
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}
#gbanner
{
 background-color: #ffffff;
 width: 96%;
 margin: 0 auto;
padding-bottom: 5px;
padding-top: 5px;
}
#gbanner2
{
 background-color: #ffffff;
 width: 96%;
 margin: 0 auto;
padding-bottom: 5px;
padding-top: 5px;
padding-left: 0px;
padding-right: 0px;
}
#group h2{
  text-align: center;
  font-size: 28px;
}

#table h4{
  text-align: left;
  margin-left: 5%;
  font-size: 24px;
}
#group
{
width: 96%;
}
#table p{
  padding: 0px;
}

#table .contact{
  text-align: center;
}
#table p 
{
 font-size: 16px; 
}
#table h4
{
 font-size: 22px;
 text-align: center;
}
#table{
 font-family: arial, sans-serif;
 border-collapse: collapse;
 margin: auto;
 border-top: 5px solid #000000;
 border-bottom: 5px solid #000000;
 width: 96%;
 margin-right: auto;
}
#table img{
 margin: auto;
 padding-left: 50px;
 width: 90%;
}
#table td, th {
 border-top: 5px solid #000000;
 text-align: left;
 padding: 8px;
}

#table th{
  text-align: center;
  font-size: 22px;
}

#table tr {
  width: 100%;
}

#table tr:nth-child(even) {
 background-color: #ffffff;
 overflow-x: auto;
 overflow-y: auto;
}

#table tr:nth-child(odd) {
  background-color: #093cab;
  color: #ffffff;
 overflow-x: auto;
 overflow-y: auto;
}

/* Meet the Group profiles Supervisors */
#profilesupervisor{
  margin-top: 20px;
  margin-bottom: 20px;
}

#profilesupervisor .box{
  float: left;
  text-align: center;
  width: 45%;
  padding: 10px;
}

#profilesupervisor .box img{
  width: 220px;
}

#profilesupervisor .box a{
  text-align: center;
}

/* Meet the Group profiles Postgrad*/
#profilepostgrad{
  margin-top: 20px;
  margin-bottom: 20px;
}

#profilepostgrad .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#profilepostgrad .box img{
  width: 220px;
}

/* Meet the Group profiles PhD */
#profilePhD{
  margin-top: 20px;
  margin-bottom: 20px;
}

#profilePhD .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#profilePhD .box img{
  width: 220px;
}
/* sidebar */

aside#sidebar{
  float: right;
  width: 15%;
  margin: 10px;
  border-width: thin;
  border-style: solid;
  border-color: #404040;
  padding: 15px;
  background-color: #eeeeee;
  text-align: center;
}


/* main-col */
article#main-col{
  float: left;
  width: 65%
}

/* Publications */

#pubbanner{
  min-height: 350px;
  background:url('../images/abs1.png') repeat  0px ;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
  background-size: 37.5%;
  width: 96%; 
  margin: 0 auto;
}

ul#Research li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6
}

h1{
  margin-left: 30px;
}
footer{
  
  color: #000000;
  margin: 5px auto;
  text-align: center;
  width: 96%;
}

footer p{
  font-size: 20px;
}
#parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mempubs{
  margin-top: 20px;
  width: 20%;
  display: inline-block;
  margin: auto;
}
#mempubs .container{
  width: 96%;
  margin: auto;
  overflow: visible;
}
#mempubs .box{
  float: left;
  text-align: center;
  width: 90%;
  padding: 20px;
  display: inline;
}


#mempubs .box img{
  width: 80%;
  height: auto;
  display: inline;
}


table#Publicationstable{
  font-size: 18px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 80%;
}

#Publicationstable tr, th {
 border: 5px solid #000000;
 text-align: left;
 padding: 8px;
 background-color: #093cab;
}


#Publicationstable tr, td {
 border: 0px solid #000000;
 text-align: left;
 padding: 8px;
}

#Publicationstable tr:nth-child(even) {
 background-color: #ffffff;
}

#Publicationstable tr:nth-child(odd) {
  background-color: #828fc2;
  color: #ffffff;
}

#Publicationstable h1{
  font-style: bold;
  font-size: 24px;
  margin-left: 25px;
}

#Publicationstable h2{
  font-style: bold;
  font-size: 20px;
  margin-left: 25px;
}

#Publicationstable h3{
  font-style: italic;
  font-size: 14px;
  margin-left: 25px;
}

#Publicationstable p{
  margin-left: 25px;
}


/*Research */
#Research .container{
  width: 96%;
  background-color: #ffffff;
  padding: 2px;
  text-align: center;
}



#newsbanner{
  min-height: 350px;
  background:url('../images/Brucite1layerbannersmallest.png') no-repeat 0px -290px;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
  width: 96%; 
  margin: 0 auto;
  padding-left: 2px;
  padding-right: 2px;
  
}

#newsbanner h1{
  font-size:55px;
}

#newsbanner p{
  font-size: 20px
}

#interests .container{
  width: 96%;
  background-color: #ffffff;
  padding: 2px;
}

#interests .Thermoelectrics_img{
  float: left;
  width: 35%;
  padding-left: 5px;
  padding-right: 5px;
}
#interests .Thermoelectrics_text::after{
  content: "";
  clear: both;
  display: table;
}


#interests .Nuclear_Materials_img{
  float: left;
  width: 35%;
  padding: 5px;
  padding-right: 25px;
}

#interests .Nuclear_Materials_text::after{
  content: "";
  clear: both;
  display: table;
}


#interests .Minerals_img{
  float: left;
  width: 35%;
  padding: 5px;
  padding-right: 25px;
}

#interests .Minerals_text::after{
  content: "";
  clear: both;
  display: table;
}


#interests .Ceria_Chemistry_img{
  float: left;
  width: 35%;
  padding: 5px;
  padding-right: 25px;
}

#interests .Ceria_Chemistry::after{
  content: "";
  clear: both;
  display: table;
}


#interests p
{
 font-size: 18px;
 display: block;
 margin: auto;
}

table#researchtable{
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 80%;
}

#researchtable tr, th {
 border: 0px solid #000000;
 text-align: left;
 padding: 8px;
}


#researchtable tr, td {
 border: 0px solid #000000;
 text-align: left;
 padding: 8px;
}

#researchtable tr:nth-child(even) {
 background-color: #ffffff;
}

#researchtable tr:nth-child(odd) {
  background-color: #dfe5c2
}

#researchtable h1{
  font-style: bold;
  font-size: 24px;
  margin-left: 25px;
}

#researchtable h2{
  font-style: bold;
  font-size: 20px;
  margin-left: 25px;
}

#researchtable h3{
  font-style: italic;
  font-size: 14px;
  margin-left: 25px;
}

#researchtable p{
  margin-left: 25px;
}
/* Contact */

#contactbanner{
  min-height: 350px;
  background:url('../images/PuO2111banner.png') repeat 0px -70px;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

#contactbanner h1{
  font-size:55px;
}

#contactbanner p{
  font-size:20px
}

#contact .container{
  width: 96%;
  background-color: #ffffff;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

address#p{
  font-size: 28px;
  text-align: center;
}

address#address{
  font-size: 24px;
  text-align: center;
}



#details{
  display: inline-block;
  float: left;
  padding: 10px;
}
#pubbd{
	background-color: #ffffff;
	width: 96%;
	margin: 0 auto;
	padding-top: 5px;
}

#contactphoto{
  display: inline-block;
  float: right;
  padding: 10px;
  padding-right: 50px;
}

/* Photos */

#photobanner{
  min-height: 350px;
  background:url('../images/photo.png') repeat 0px -240px;
  text-align: center;
  color: #040404;
  border-bottom: #000000 5px solid;
  width: 96%; 
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}

#photobanner h1{
  font-size:55px;
}

#photobanner p{
  font-size:18px
}

#photos .container{
  width: 96%;
  background-color: #ffffff;
  margin: auto;
}

#photos .leftphoto{
  margin: auto;
  width: 100%
}

#photos .leftphoto img{
  width: 70%;
  margin: auto;
}

#photos .rightphoto{
margin: auto;
width: 70%;
}
#photos .rightphoto p 
{
font-size:18px;
}
#photos .leftphoto p 
{
font-size:18px;
}

#photos .rightphoto img{
  width: 75%;
  margin: auto;
}

#photos .rightphoto p{
  width: 75%;
}

/*Medio Queries */
@media(max-width:768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button, .Question button{
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
  }
}
